.todoListMain .header input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #fff;
  width: 500px;
}
.todoListMain .header button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #2dbe60;
  color: #FFF;
  border: 2px solid #2dbe60;
}
.todoListMain .header button:hover {
  background-color: #24984c;
  border: 2px solid #24984c;
  cursor: pointer;
}
.todoListMain .theList {
  list-style: none;
  padding-left: 0;
  width: 587px;
}
.todoListMain .theList li {
  color: #333;
  background-color: #eff2f3;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 3px;

  transition: background-color .3s ease-out;
}

.todoListMain .theList li:hover {
  background-color: #2dbe60;
  cursor: pointer;
}
ul.theList {
  padding: 0;
}
